.hover-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.customize {
  height: 300px !important;
  width: 100%;
}

.padding-non {
  padding: 0 !important;
}

.margin-non {
  margin: 0 !important;
}

.spacing-bottom-25 {
  margin-bottom: 25px;
}

.spacing-bottom-50 {
  margin-bottom: 50px;
}

.rounded-button {
  border-radius: 50% !important;
}

.selected-radio {
  background-color: green !important;
}

.radio-button-wrapper {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.full-height-images {
  height: 100%;
}